.header{
    background-color: black;
    width: 100%;
    height: 70px;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
}

.headerList{
    align-items: center;
    display: flex;
    justify-content: space-evenly;
}

.headerIcon{
    align-items: center;
    display: flex;
    width: 70px;
    height: 30px;
    margin-right: 20px;
    justify-content: space-evenly;
}

.menuBar{
    align-items: center;
    display: flex;
    margin-right: 10px;
    justify-content: space-evenly;
}

.menuBar>span{
    font-size: 16px;
    padding: 3px;
}

.space_Line{
    color: rgb(47, 48, 47);
}

.SearchBar{
    color: gray ;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;
    border-radius: 4px;
    padding-right: 6px;
    margin-right: 30px;
    font-size: 30px;
}


.proIcon{
    align-items: center;
    display: flex;
    width: 70px;
    height: 25px;
    justify-content: center;
}

.watch_list{
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 15px;
    margin-right: 30px;
    cursor: pointer;
}

.sign_in{
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 15px;
    cursor: pointer;
}

