.portfolio{
    background-color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading{
    font-size: 100px;
}

.listItem{
    margin: 50px;
    padding: 0;
    list-style: none;
    display: flex;
}

.portfolioItem{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.items{
    width: 900px;
    height: 500px;
    border-radius: 20px;
    border: 1px solid rgb(22, 18, 14);
    overflow: hidden;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 10px 20px;
    position: relative;
    transition: all 1s ease;
    cursor: pointer;
}

.items>h3{
    position: absolute;
    font-size: 50px;
    color:  rgb(65, 65, 105);
}

.items>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.items>img:hover{
    background-color: rgb(2, 2, 29);
    opacity: 0.2;
    z-index: 0;
}
