.contact{
    background-color: white;
    height: 100vh;
    display: flex;
}

.contactLeft{
    flex: 1;
}

.contactLeft>img{
    height: 100%;
}

.contactRight{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contactRight>h2{
    font-size: 50px;
    color: rgb(16, 1, 31);
}

.contactRight>form{
    width: 70%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.contactInput{
    width: 300px;
    height: 50px;
    font-size: 15px;
    border-radius: 10px;    
    padding-left: 10px;
}

.contactInput:hover{
    transform: scale(1.1);
}

.massage{
    width: 300px;
    height: 250px;
    font-size: 20px;
    border-radius: 10px;    
    padding-left: 10px;
    border-color: black;
}

.massage:hover{
    transform: scale(1.1);
}

.submit{
    width: 150px;
    height: 35px;
    background-color: rgb(16, 1, 31);
    color: white;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
}

.submit:hover{
    width: 200px;
    height: 45px;
    background-color: rgb(40, 2, 78);
}